@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

main {
    padding: 0px 160px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-collum {
    flex-direction: column;
}

.quizzez-list {
    padding: 70px 0px;
    width: 100%;
}

.quizzez-list h3{
    margin: 0px 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding: 20px 0px 20px 20px;
}

.user-quizz {
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px dashed #D4D4D4;
    height: 120px;
    margin: 50px 18px;
}

.user-quizz>div {
    /* width: 160px; */
    width: 100%;
    text-align: center;
    color: #B9B9B9;
}

.user-quizz>button {
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    padding: 5px 15px;
    background: #FAFAFA;
}

ion-icon{
    color: #EC362D;
    font-size: 30px;
}

.todos-quizzes {
    flex-wrap: wrap;
}

.user-quizzes {
    flex-wrap: wrap;
}

.quizz {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1));
    width: 340px;
    height: 180px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 10px;
}

.quizz>img {
    border-radius: inherit;
    object-fit: cover;
    width: 340px;
    height: 180px;
    z-index: -1;
}

.quizz>div {
    width: 300px;
    position: absolute;
}

.quizz p {
    text-align: center;
    color: white;
    font-size: 19px;
    margin-bottom: 5px;
}

.info-quizz {
    margin-top: 100px;
    flex-direction: column;
}

.Seus-Quizzes {
    display: flex;
    align-items: center;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 37px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.container input {
    width: 341px;
    height: 46px;
    margin: 9px 0px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;  
    color: #BABABA;
}

.container > input::placeholder {
    padding: 0px 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;  
    color: #BABABA;
}

.build-quizz {
    margin-top: 100px;
    flex-direction: column;
}

.button {
    background: #EC362D;
    width: 323px;
    height: 54px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

.button-quizz {
    background-color: #FAFAFA;
    color: #818181;
}

.titulo {
    display: flex;
    justify-content: center;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.6);
}

.titulo>img {
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.titulo>div {
    position: absolute;
}

.titulo p {
    text-align: center;
    color: white;
    font-size: 40px;
}

.question-container {
    flex-direction: column;
    background-color: white;
    margin: 70px 20%;
    padding: 30px;
}

.pergunta {
    background-color: #434CA0;
    height: 138px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 700;
}

.respostas {
    margin-top: 20px;
    flex-wrap: wrap;
}

.resposta{
    margin: 10px;
}

.resposta>img{
    width: 330px;
    height: 180px;
}

.resposta>p{
    margin: 5px;
}

.opacity {
    opacity: 0.3;
}

.resposta-certa {
    color: #009C22;
}

.resposta-errada {
    color: #FF4B4B;
}

.end {
    display: flex;
    margin-top: 10px;
}

.end>img {
    width: 60%;
}

.end>h5 {
    margin: 0 20px;
    font-size: 19px;
    font-weight: 700;
}

.hide {
    display: none;
}

@media screen and (max-width: 1100px) {
    main {
        padding: 70px 0;
    }

    .quizzez-list {
        padding: 0px 0;
    }

    .question-container {
        margin: 40px 0%;
    }

    .end {
        display: initial;
    }
    
    .end>img {
        margin: 10px 0;
        width: 100%;
    }
}